
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div ">
				<ul class="nav pcoded-inner-navbar ">

					<li class="nav-item pcoded-menu-caption">
						<label>안전점검 추천</label>
					</li>
					<li class="nav-item">
						<a href="/safety.html" class="nav-link "><span class="pcoded-micon">
							<i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">어디로 안전점검을 나갈까?</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>전국산업단지 현황</label>
					</li>
					<li class="nav-item">
						<a href="/nation.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-home"></i></span><span class="pcoded-mtext">전국산업단지 산업재해 현황</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>산업단지별 현황</label>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">울산미포국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/zUlsan_company.html">전체 기업 현황</a></li>
							<li><a href="/zUlsan_sector.html">업종별 현황</a></li>
							<li><a href="/zUlsan_type.html">발생형태별 현황</a></li>
							<li><a href="/zUlsan_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">시화국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/zSihwa_company.html">전체 기업 현황</a></li>
							<li><a href="/zSihwa_sector.html">업종별 현황</a></li>
							<li><a href="/zSihwa_type.html">발생형태별 현황</a></li>
							<li><a href="/zSihwa_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">남동국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/zNamdong_company.html">전체 기업 현황</a></li>
							<li><a href="/zNamdong_sector.html">업종별 현황</a></li>
							<li><a href="/zNamdong_type.html">발생형태별 현황</a></li>
							<li><a href="/zNamdong_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">반월국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/zBanwol_company.html">전체 기업 현황</a></li>
							<li><a href="/zBanwol_sector.html">업종별 현황</a></li>
							<li><a href="/zBanwol_type.html">발생형태별 현황</a></li>
							<li><a href="/zBanwol_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">창원국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/zChangwon_company.html">전체 기업 현황</a></li>
							<li><a href="/zChangwon_sector.html">업종별 현황</a></li>
							<li><a href="/zChangwon_type.html">발생형태별 현황</a></li>
							<li><a href="/zChangwon_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>


					<li class="nav-item pcoded-menu-caption">
						<label>산단안전센터별 현황</label>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">강원지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gangwon_sector.html">업종별 현황</a></li>
							<li><a href="/gangwon_type.html">발생형태별 현황</a></li>
							<li><a href="/gangwon_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경기지역본부 </span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gyeongi_sector.html">업종별 현황</a></li>
							<li><a href="/gyeongi_type.html">발생형태별 현황</a></li>
							<li><a href="/gyeongi_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경기지역본부 시화지사</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/sihwa_sector.html">업종별 현황</a></li>
							<li><a href="/sihwa_type.html">발생형태별 현황</a></li>
							<li><a href="/sihwa_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경기지역본부 평택지사</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/pyeongtak_sector.html">업종별 현황</a></li>
							<li><a href="/pyeongtak_type.html">발생형태별 현황</a></li>
							<li><a href="/pyeongtak_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경남지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gyeongnam_sector.html">업종별 현황</a></li>
							<li><a href="/gyeongnam_type.html">발생형태별 현황</a></li>
							<li><a href="/gyeongnam_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경남지역본부 김해지사</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gimhae_sector.html">업종별 현황</a></li>
							<li><a href="/gimhae_type.html">발생형태별 현황</a></li>
							<li><a href="/gimhae_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경북지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gyeongbuk_sector.html">업종별 현황</a></li>
							<li><a href="/gyeongbuk_type.html">발생형태별 현황</a></li>
							<li><a href="/gyeongbuk_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">광주전남지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gangjun_sector.html">업종별 현황</a></li>
							<li><a href="/gangjun_type.html">발생형태별 현황</a></li>
							<li><a href="/gangjun_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">광주지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gangju_sector.html">업종별 현황</a></li>
							<li><a href="/gangju_type.html">발생형태별 현황</a></li>
							<li><a href="/gangju_scale.html">기업규모별 현황</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">대구지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/daegu_sector.html">업종별 통계</a></li>
							<li><a href="/daegu_type.html">발생형태별 통계</a></li>
							<li><a href="/daegu_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">부산지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/busan_sector.html">업종별 통계</a></li>
							<li><a href="/busan_type.html">발생형태별 통계</a></li>
							<li><a href="/busan_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">서울지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/seoul_sector.html">업종별 통계</a></li>
							<li><a href="/seoul_type.html">발생형태별 통계</a></li>
							<li><a href="/seoul_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">울산지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/ulsan_sector.html">업종별 통계</a></li>
							<li><a href="/ulsan_type.html">발생형태별 통계</a></li>
							<li><a href="/ulsan_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					 
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">인천지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/incheon_sector.html">업종별 통계</a></li>
							<li><a href="/incheon_type.html">발생형태별 통계</a></li>
							<li><a href="/incheon_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">인천지역본부 주안부평지사</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/juan_sector.html">업종별 통계</a></li>
							<li><a href="/juan_type.html">발생형태별 통계</a></li>
							<li><a href="/juan_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">전남지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/jeonam_sector.html">업종별 통계</a></li>
							<li><a href="/jeonam_type.html">발생형태별 통계</a></li>
							<li><a href="/jeonam_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">전북지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/cheonbuk_sector.html">업종별 통계</a></li>
							<li><a href="/cheonbuk_type.html">발생형태별 통계</a></li>
							<li><a href="/cheonbuk_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">충청지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/chung_sector.html">업종별 통계</a></li>
							<li><a href="/chung_type.html">발생형태별 통계</a></li>
							<li><a href="/chung_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<div class="card text-center">
						<div class="card-body px-3">
							<i class="feather icon-sunset f-40"></i>
							<h6 class="mt-3">Helmet</h6>
							<p>To get rid of all of industrial accidents</p>
							<a href="https://appseed.us/product/gradient-able-pro/django/"
								class="btn btn-primary btn-sm text-white m-0">Learn More</a>
						</div>
					</div>
					{% comment %} <li class="nav-item pcoded-menu-caption">
						<label>UI Element</label>
					</li>
					<li class="nav-item">
						<a href="/bc_typography.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">Typography</span></a>
					</li>
					<li class="nav-item">
						<a href="/icon-feather.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-feather"></i></span><span class="pcoded-mtext">Icons</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>table</label>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap table</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>
					<li class="nav-item">
						<a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
						<a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span
								class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
								class="pcoded-mtext">Authentication</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
							<li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Other</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span
								class="pcoded-mtext">Menu levels</span></a>
						<ul class="pcoded-submenu">
							<li><a href="#">Menu Level 2.1</a></li>
							<li class="pcoded-hasmenu">
								<a href="#">Menu level 2.2</a>
								<ul class="pcoded-submenu">
									<li><a href="#">Menu level 3.1</a></li>
									<li><a href="#">Menu level 3.2</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>
				</ul>
				
				<div class="card text-center">
					<div class="card-body px-3">
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">Upgrade to Pro</h6>
						<p>To get more features and components</p>
						<a href="https://appseed.us/product/gradient-able-pro/django/" target="_blank"
							class="btn btn-primary btn-sm text-white m-0">Buy now</a>
					</div>
				</div> {% endcomment %}
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    