
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div ">
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>전국산업단지 현황</label>
					</li>
					<li class="nav-item">
						<a href="/nation.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-home"></i></span><span class="pcoded-mtext">전국산업단지 산업재해 현황</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>관리기관별 현황</label>
					</li>

					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">울산지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/#">업종별 분포 지도</a></li>
							<li><a href="/#">업종별 통계</a></li>
							<li><a href="/#">발생형태별 통계</a></li>
							<li><a href="/#">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경기지역본부 시화지사 </span></a>
						<ul class="pcoded-submenu">
							<li><a href="/#">업종별 분포 지도</a></li>
							<li><a href="/#">업종별 통계</a></li>
							<li><a href="/#">발생형태별 통계</a></li>
							<li><a href="/#">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경남지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/#">업종별 분포 지도</a></li>
							<li><a href="/#">업종별 통계</a></li>
							<li><a href="/#">발생형태별 통계</a></li>
							<li><a href="/#">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">인천지역본부 </span></a>
						<ul class="pcoded-submenu">
							<li><a href="/#">업종별 분포 지도</a></li>
							<li><a href="/#">업종별 통계</a></li>
							<li><a href="/#">발생형태별 통계</a></li>
							<li><a href="/#">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">경기지역본부</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/#">업종별 분포 지도</a></li>
							<li><a href="/#">업종별 통계</a></li>
							<li><a href="/#">발생형태별 통계</a></li>
							<li><a href="/#">기업규모별 통계</a></li>
						</ul>
					</li>
					

					<li class="nav-item pcoded-menu-caption">
						<label>산업단지별 현황</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">울산미포국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/ulsan_map.html">업종별 분포 지도</a></li>
							<li><a href="/ulsan_sector.html">업종별 통계</a></li>
							<li><a href="/ulsan_type.html">발생형태별 통계</a></li>
							<li><a href="/ulsan_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">시화국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/sihwa_map.html">업종별 분포 지도</a></li>
							<li><a href="/sihwa_sector.html">업종별 통계</a></li>
							<li><a href="/sihwa_type.html">발생형태별 통계</a></li>
							<li><a href="/sihwa_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">남동국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/namdong_map.html">업종별 분포 지도</a></li>
							<li><a href="/namdong_sector.html">업종별 통계</a></li>
							<li><a href="/namdong_type.html">발생형태별 통계</a></li>
							<li><a href="/namdong_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">반월국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/banwol_map.html">업종별 분포 지도</a></li>
							<li><a href="/banwol_sector.html">업종별 통계</a></li>
							<li><a href="/banwol_type.html">발생형태별 통계</a></li>
							<li><a href="/banwol_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">창원국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/changwon_map.html">업종별 분포 지도</a></li>
							<li><a href="/changwon_sector.html">업종별 통계</a></li>
							<li><a href="/changwon_type.html">발생형태별 통계</a></li>
							<li><a href="/changwon_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">명지녹산국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/mungji_map.html">업종별 분포 지도</a></li>
							<li><a href="/mungji_sector.html">업종별 통계</a></li>
							<li><a href="/mungji_type.html">발생형태별 통계</a></li>
							<li><a href="/mungji_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">대불국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/daebol_map.html">업종별 분포 지도</a></li>
							<li><a href="/daebol_sector.html">업종별 통계</a></li>
							<li><a href="/daebol_type.html">발생형태별 통계</a></li>
							<li><a href="/daebol_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">구미국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/gumi_map.html">업종별 분포 지도</a></li>
							<li><a href="/gumi_sector.html">업종별 통계</a></li>
							<li><a href="/gumi_type.html">발생형태별 통계</a></li>
							<li><a href="/gumi_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">서울디지털국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/seoul_sector.html">업종별 통계</a></li>
							<li><a href="/seoul_type.html">발생형태별 통계</a></li>
							<li><a href="/seoul_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
								class="pcoded-mtext">온산국가산업단지</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/onsan_map.html">업종별 분포 지도</a></li>
							<li><a href="/onsan_sector.html">업종별 통계</a></li>
							<li><a href="/onsan_type.html">발생형태별 통계</a></li>
							<li><a href="/onsan_scale.html">기업규모별 통계</a></li>
						</ul>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>안전점건 추천</label>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">어디로 안전점검을 나갈까?</span></a>
					</li>

					<div class="card text-center">
						<div class="card-body px-3">
							<i class="feather icon-sunset f-40"></i>
							<h6 class="mt-3">Helmet</h6>
							<p>To get rid of all of industrial accidents</p>
							<a href="https://appseed.us/product/gradient-able-pro/django/"
								class="btn btn-primary btn-sm text-white m-0">Learn More</a>
						</div>
					</div>
					{% comment %} <li class="nav-item pcoded-menu-caption">
						<label>UI Element</label>
					</li>
					<li class="nav-item">
						<a href="/bc_typography.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">Typography</span></a>
					</li>
					<li class="nav-item">
						<a href="/icon-feather.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-feather"></i></span><span class="pcoded-mtext">Icons</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>table</label>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap table</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>
					<li class="nav-item">
						<a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
						<a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span
								class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
								class="pcoded-mtext">Authentication</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
							<li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Other</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span
								class="pcoded-mtext">Menu levels</span></a>
						<ul class="pcoded-submenu">
							<li><a href="#">Menu Level 2.1</a></li>
							<li class="pcoded-hasmenu">
								<a href="#">Menu level 2.2</a>
								<ul class="pcoded-submenu">
									<li><a href="#">Menu level 3.1</a></li>
									<li><a href="#">Menu level 3.2</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>
				</ul>
				
				<div class="card text-center">
					<div class="card-body px-3">
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">Upgrade to Pro</h6>
						<p>To get more features and components</p>
						<a href="https://appseed.us/product/gradient-able-pro/django/" target="_blank"
							class="btn btn-primary btn-sm text-white m-0">Buy now</a>
					</div>
				</div> {% endcomment %}
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    